<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.mapper.Store_Order">
	
	<select id="orderList" parameterType="Store_Order_DTO" resultType="Store_Order_DTO">
		SELECT
		ORDER_SEQ,
		STORE_SEQ,
		TABLE_SEQ,
		MENU_SEQ,
		MAKE,
		ORDER_DATE,
		MENU_PRICE,
		REF,
		PAYED,
		DELFLAG
		FROM STORE_ORDER
		WHERE
		STORE_SEQ = #{store_seq}
		<choose>
			<when test="delflag != null">
				AND DELFLAG = #{delflag}
			</when>
			<when test="delflag == null">
				AND DELFLAG = 'N'
			</when>
		</choose>
		<if test="make != null">
			AND MAKE = #{make}
		</if>
		<if test="ref != null">
			AND REF = #{ref}
		</if>
		<if test="payed == null">
			AND PAYED = 'N'
		</if>
	</select>
	
	<select id="orderOne" parameterType="int" resultType="Store_Order_DTO">
		SELECT
		ORDER_SEQ,
		STORE_SEQ,
		TABLE_SEQ,
		MENU_SEQ,
		MAKE,
		ORDER_DATE,
		MENU_PRICE,
		REF,
		PAYED,
		DELFLAG
		FROM STORE_ORDER
		WHERE
		ORDER_SEQ = #{value}
	</select>
	
	<select id="tableOrder" parameterType="list" resultType="hashmap">
		SELECT SC.MENU_SEQ menu_seq,
			ORDER_SEQ order_seq,
			SO.MENU_PRICE price,
			MENU_NAME count
		FROM STORE_ORDER SO
		JOIN
			STORE_CATEGORY SC on SO.MENU_SEQ = SC.MENU_SEQ
		WHERE
			SO.STORE_SEQ = #{store_seq} AND
			SO.DELFLAG = 'N' AND
			SO.PAYED = 'N' AND
			SO.REF = (SELECT MAX(REF) FROM STORE_ORDER WHERE TABLE_SEQ = #{table_seq})
		ORDER BY
			MENU_SEQ
	</select>
	
</mapper>
