<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<typeAliases>
		<package name="com.pos.system.dto"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mybatis/mapper/Store_Cashbook/Store_Cashbook_Create_Mapper.xml"/>
		<mapper resource="mybatis/mapper/Store_Cashbook/Store_Cashbook_Read_Mapper.xml"/>
		<mapper resource="mybatis/mapper/Store_Cashbook/Store_Cashbook_Update_Mapper.xml"/>
		<mapper resource="mybatis/mapper/Store_Cashbook/Store_Cashbook_Delete_Mapper.xml"/>
		<mapper resource="mybatis/mapper/Store_Order/Store_Order_Create_Mapper.xml"/>
		<mapper resource="mybatis/mapper/Store_Order/Store_Order_Read_Mapper.xml"/>
		<mapper resource="mybatis/mapper/Store_Order/Store_Order_Update_Mapper.xml"/>
		<mapper resource="mybatis/mapper/Store_Order/Store_Order_Delete_Mapper.xml"/>
	</mappers>
	
</configuration>
