h1 {
	font-size: 100px;
	text-align: center;
	padding-top: 0px;
	margin: 0px 10px 30px auto;
}

a {
	text-decoration: none;
	color: black;
}


nav ul {
	padding-top:10px;
}

nav ul li {
	display:inline;
	border-left:1px solid #999;
	font:bold 18px Dotum;
	padding:0 10px;
}
nav ul li:first-child{
	border-left:none;

}

nav{
	position: absolute;
	top:110px;
	right: 15px ;
}

#main{
	position: relative;
	top:0px;

	bottom: 50px;
	background-color: gainsboro;
	padding-bottom: 1px;
	margin-bottom: 20px;
}


h2{
	text-align: center;
}


#container{
	text-align: center;
}